{% extends 'Obg.html' %}
{% block user %}
    {{ request.user }}
{% endblock %}
{% block content %}


<div class="row">

{% for chat in chats %}
    <div class="col-md-4 ">
    <a href="{% url 'dialog_2' chat.id %}">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">
  {% for member in chat.members.all %}
{% if member.id != user_id %}
    {{ member }}
      {% endif %}
      {% endfor %}
  </div>
  <div class="card-body">

    <p class="card-text">
      {{ chat.message_set.last }}
    </p>
  </div>

</div>
    </a>
</div>

    {% endfor %}
    </div>
{% endblock %}
